h1 {
  color: white;
  font-family: Shadows Into Light Two;
  font-size: 30px;
  position: relative;
  top: 195px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  font-family: Kalam;
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 240px;
  left: 85px;
}

button:hover {
  background-color: white;
  display: block;
}